body {
  font-family: arial, sans-serif;
}
body {background-color: coral;}
p {
  color: yellow;
}
a {
  border-style: solid;
  border-color: red;
  
}
a {
  color: green;
  background-color: lightgray;
  text-decoration: none;
}
