.grid{
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 400px;
    padding-left: 32%;
    padding-top: 2%;
}

h1{
    color: ghostwhite;
    padding-left: 29%;
    font-family: 'Courier New', Courier, monospace;
}

h3{
    color: cornsilk;
    padding-left: 1%;
}

body
{
    background-color: #293251;
}