<div class="all">
        <div class="container">
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
        <div class="container">
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
        <div class="container">
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
        <div class="container">
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
        <div class="container">
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
        <div class="container">
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
        <div class="container">
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
        <div class="container">
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
        <div class="container">
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
        <div class="container">
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
        <div class="container">
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
        <div class="container">
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
    </div>